<!DOCTYPE html>
<html>
<head>
    <title>Collar - Login</title>
</head>
<body>
<div class="signup-form">
    <h2>Login</h2>
    <form>
        <input type="text" title="email" placeholder="example@collarmc.com" />
        <input type="password" title="password" placeholder="password" />
        <button type="submit" class="btn">Login</button>
    </form>
</div>
</body>
</html>