<!DOCTYPE html>
<html>
<head>
    <title>Collar - Create an account</title>
</head>
<body>
<div class="signup-form">
    <h2>Create an account</h2>
    <form action="/app/signup">
        <input type="text" title="name" placeholder="name" />
        <input type="text" title="email" placeholder="example@collarmc.com" />
        <input type="password" title="username" placeholder="password" />
        <input type="password" title="confirmPassword" placeholder="confirmPassword" />
        <button type="submit" class="btn">Create Account</button>
    </form>
</div>
</body>
</html>